.banner{
    padding:10px;
}
.information{
    display:flex;
    flex-direction:column;
    width:400px;
    padding:10px;
    color:white;
    background:none;
    flex-wrap: wrap;
}
.information h1{
    font-size:43px;
    margin:0;
}
.information p{
    font-size:15px;
    margin:10px 0;
}

.information button{
    width:130px;
    font-size:20px;
    padding:10px;
    background-color:white;
    color:black;
    border:none;
    border-radius:3px;
}
@media (max-width:464px){
    .information{
        width:250px;
    }
    .information h1{
        font-size:20px;
        margin:0;
    }
    .information p{
        font-size:8px;
        margin:10px 0;
    }
    .information button{
        width:50px;
        font-size:8px;
    }
}